@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.title = "About Us";
}
    <center>
        <br>
        <h1 style="color:black">About Us</h1><br />
                                           <h1 style="color:red">
                                               Online Typing Test
                                           </h1>
        <p>
            Test your typing speed with our Online Typing Test system. <br>
            Here you will get some important tips to improve your typing skill.<br>

            1. The A, S, D, F, and J, K, L, ; keys (on a normal keyboard) represent<br>
            the base position of your finger. Keyboards have a small bump on the F <br>
            and J keys. This helps you to locate the base position without looking <br>
            at the keyboard.
            2. Return your fingers to the base position after each key-stroke.<br>
            3. Try not to look at the keyboard. Try to find the right key with your<br>
            fingers using the bump.<br>
            4. To type Upper-case letters use shift button instate of Caps Lock.<br>
            5. Press the SHIFT key with the little finger to type Upper-case letters <br>
            and symbols.<br>
            6. Practice makes a man perfect, so practice again and again using typing <br>
            speed test in 5 Minutes.<br>
        </p>
</center>