@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.title = "Contact Us";
}
    <center>
        <br>
        <h1 style="color:red">Contact Us</h1><br>

        <h3>Udaiput 313001, </h3> <h3>Rajasthan,India </h3>
        <h3>EPABX: 0294-2470918/ 2471035/ 2471969</h3>
        <h3>Fax:+91-294-2471150</h3>
        <h3></h3>
        <h3>Email: rohit@gmail.com </h3>
    </center>