@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.title = "Home";
}
    <html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title></title>
    </head>
    <body>
        <form>
            <center>
            <h1 align="center"> About Online Typing Test</h1>
            <img src="~/images/home1.png"  width="25%" height="10%"/>
            <p align="center">
                Typing Speed Test
                Welcome to our unique online typing speed checking and practice engine.<br>
                Here you can test your typing speed and skill. Beside typing speed testing<br>
                you can practice typing to improve your performance. We have 3 unique typing<br>
                speed test system so you can choose as per your requirement. If you are trying<br>
                to test your typing speed you may use 1 minute or 2 minute testing engine, if you<br>
                want to practice you may use 5 minutes testing system.
            </p>
        </form>
        </center>
    </body>
    </html>
        
        