@{ 
    Layout = null;

}
@using Microsoft.AspNetCore.Http;
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>
<body>

    <h1>Login Successfull</h1>
    @ViewBag.Account.Rollno

    <a asp-controller="Account" asp-action="index">Logout</a>
</body>
</html>