<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>
<body>
<center><h3>@ViewBag.error</h3>
    <h1> Get Result</h1>
    <form asp-controller="Typing" asp-action="GetResult" method="post">
    Enter Rollno: <input type="number" name="Id"><br>
    <input type="submit"><br>
        </form>
</center>
</body>
</html>